.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; /* Evenly space the child elements */
}

.pageHeader {
    display: flex;
    justify-content: center;
    padding: 0 0 10px 0;
}

.shop {
    display: flex;
    flex-basis: 33%;
    border: 1px black dashed;
}